:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
/* Common */

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeGrowt{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeGrowtReverse {
    from {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    } to {
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    }
}