:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-bottom: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    background-color: #f5f5f5;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 0.5px solid #565656;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.line-top{
    border-top: 5px solid var(--primary-color);
}
/* Common */

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeGrowt{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeGrowtReverse {
    from {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    } to {
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    }
}