.header {
    background-color: #ffffff;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__brand{
    display: flex;
    text-decoration: none;
}

.navbar__title{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 100;
    color: black;
}

.header .navbar__logo {
    height: 40px;
}

.navbar__item{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: var(--primary-color);
}

.container{
    background-color: var(--primary-color);
}

.background{
    position: relative;
    background-color: var(--primary-color);
}

.background img{
    margin: 0 auto;
    display: block;
}

.login__form{
    display: grid;
    position: absolute;
    right: 25%;
    top: 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    margin: 20px auto;
}
.login__or{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.login__line{
    background-color: #dbdbdb;
    flex: 1;
    height: 1px;
}

