.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6533, #f53f2c);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

.header .navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header .navbar__item {
    margin: 0 8px;
    position: relative;
}

.header .navbar__item--has-qr:hover .header__qr {
    z-index: 10;
    display: block;
}

.header .nav__item-link,
.header .navbar__item {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 13px;
    font-weight: 400;
}

.header .nav__item-link,
.header .navbar__item,
.navbar_icon-link {
    display: inline-flex;
    align-items: center;
}

.header .nav__item-link:hover,
.header .navbar__item:hover,
.navbar_icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb7160;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.nav__account-saparate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb7160;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar_icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header .navbar_icon {
    font-size: 18px;
    margin: 0 4px;
}

.navbar__item-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr{
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 0;
    border-radius: 2px;
    top: 130%;
    display: none;
    cursor: default;
}

.header__qr::before{
    content: "";
    top: -10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
}

.header__qr-img{
    width: 100%;
    border-radius: 2px;
}

.header__qr_apps{
    display: flex;
    justify-content: space-between;
    padding: 0 11px;
    flex-wrap: wrap;
}

.header__qr-download{
    width: 100%; 
    height: 16px; 
    object-fit: contain; 
    object-position: left;
}

.header__qr_link{
    flex-basis: 45%; 
    margin-bottom: 8px; 
    display: flex;
    align-items: center;
}

/* Header Notification */
.header__notify{
    background-color: var(--white-color);       
    width: 404px;
    position: absolute;
    right: 0;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    top: 130%;
    cursor: default;
    transform-origin: 90% top;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    will-change: opacity, transform;
    animation: fadeGrowtReverse 0.25s forwards;
    z-index: 10;
}

.navbar__item--has-notify:hover .header__notify{
    visibility: visible;
    animation: fadeGrowt 0.25s forwards;
}

.header__notify::before{
    content: "";
    position: absolute;
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 10px;
}

.header__notify::after{
    content: "";
    top: -10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
}

.header__notify--header{
    background-color: var(--white-color);
    color: #d3d3d3;
    user-select: none;
}

.header__notify--header h3{
    margin: 10px;
    font-weight: 400;
    font-size: 1.4rem;
}
.header__notify-list{
    padding:0;
}

.class__notify-img{
    object-fit: contain; 
    width: 50px;
    height: 50px;
    top:0;
}

.header__notify--link{
    display: flex;
    padding: 8px 10px 10px 10px;
    text-decoration: none;
    color:black;
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify--link-viewed{
    background-color: white;
}


.header__notify--link:hover{
    background-color: #f7f7f7;
}

.header__notify-info{
    display: grid;
    margin-left: 10px;
}

.header__notify--name{
    font-size: 15px;
    margin-bottom: 5px;
}

.header__notify--description{
    font-size: 12px;
    color: gray;
}

.header__notify--view-all{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: black;
}

/* Header Translate */
.header__translate-list{
    background-color: var(--white-color);    
    position: absolute;
    top: 150%;
    right: 0;
    padding: 0;
    width: 190px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transform-origin: 90% top;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    will-change: opacity, transform;
    animation: fadeGrowtReverse 0.25s forwards;
    z-index:10;
}

.navbar__item--has-translate:hover .header__translate-list{
    visibility: visible;
    animation: fadeGrowt 0.25s forwards;
}

.header__translate-list::before{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 5px;
}

.header__translate-list::after{
    content: "";
    top: -10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
}

.header__translate-item{
    display: grid;
    padding: 12px;
}

.header__translate-language{
    text-decoration: none;
    font-size: 15px;
    padding: 9px 9px;
    color: black;
}

.header__translate-language:hover{
    color: var(--primary-color);
}

.header-bottom{
    height: var(--header-bottom);
    display: flex;
    align-items: center;
}

.header__logo{
    margin-left: 8px;
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__search-input-wrap{
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.header__search-input{
    width: 100%;
    height: 36px;
    padding: 20px 0 20px 20px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
}

.header__search-input::placeholder{
    font-size: 14px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border-radius: 2px;
    height: 38px;
    margin: 2px;
    padding: 7px 20px;
    border: none;
    color: var(--white-color);
    font-size: 18px;
}

.header__search-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.header__search-trending-items{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
} 

.header__search-trending ul{
    padding: 0;
    margin: 8px 0;
}

.header__search-trending-items a{
    text-decoration: none;
    list-style: none;
    color: var(--white-color);
    font-size: 12px;
}

.header__cart{
    font-size: 30px;
    padding-top: 20px;
    margin: 70px;
    color: var(--white-color)
}

.header__search-history{
    width: 0;
    display: none;
}

.header__search-history-list{
    width: 91%;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    margin-top: 5px;
    left: 0;
    top: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.header__search-history-list a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: var(--white-color);
    display: block;
    padding: 15px 20px;
    border-radius: 2px;
}

.header__search-history-item:hover{
    background-color: #f5f5f5;
}

.header__search-input:focus + .header__search-history{
    display:block;
}

.header__cart{
    position: relative;
    cursor: pointer;
}

.header__cart-info{
    position: absolute;
    border-radius: 3px;
    right: -7px;
    margin-top: 10px;
    top: 100%;
    transform-origin: 95% top;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    will-change: opacity, transform;
    animation: fadeGrowtReverse 0.25s forwards;
    z-index:10;
}

.header__cart:hover .header__cart-info{
    visibility: visible;
    animation: fadeGrowt 0.25s forwards;
}

.header__cart-img{
    width: 350px;
    height: 240px;
    object-fit: cover;
}

.header__cart-info::after{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent #f5f5f5 transparent;
    top: -30px;
    right: 0px;
}

.header__cart-info::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: transparent;
    top: -30px;
    right: 0px;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
}

.shopee-search-filter-status{
    text-transform: uppercase;
    display: flex;
    font-size: 10px;
    margin: 0 0px 30px;
}

.shopee-filter-icon{
    font-size: 16px;
}

.shopee-search-filter-status__text{
    margin: 0px 10px 0px 10px;
}

.shopee-filter-group{
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.shopee-filter-group__heading{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}

.shopee-filter-checkbox{
    display: flex;
    gap:5px;
    margin:0 10px 15px 0;
    font-size: 15px;
}

.shopee-filter-more__text{
    display:flex;
    margin-left: 20px;
    align-items: center;
}

.shopee-filter-more__text p{
    margin-left: 5px;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
}

.shopee-svg-icon{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.shopee-checkbox-label-star{
    display: flex;
    align-items: center;
    margin: 0px 0 0px 0 !important;
    font-size: 20px;
    color: #ffb321;
}

.shopee-filter-checkbox__up{
    margin: 0;
}

.shopee-filter-price-input{
    display: flex;
    align-items: center;
    position: relative;
}

.shopee-filter-price-input .shopee-filter-price-input__min,
.shopee-filter-price-input .shopee-filter-price-input__max{
    width: 80px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
}

.shopee-filter-price-input .shopee-filter-price-input__min::placeholder,
.shopee-filter-price-input .shopee-filter-price-input__max::placeholder{
    font-size: 13px;
}

.shopee-filter-price-input--seperator{
    background: #bdbdbd;
    flex: 1;
    height: 10px;
    margin: 0 10px;
}

.shopee-filter-btn-clear__btn,
.shopee-filter-price-btn__apply{
    background-color: var(--primary-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    color: var(--white-color);
    padding: 7px 20px;
    border-radius: 2px;
    font-size: 15px;
    margin-top: 10px;
}

.shopee-main-content{
    display: flex;
    gap: 30px;
}

.shopee-main-event-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.shopee-main-event{
    background-color: var(--white-color);
    height: 200px;
}

.shopee-main-event:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    cursor: pointer;
}

.shopee-main-event-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.shopee-main-event-info{
    display:flex;
    align-items: center;
}

.shopee-main-event-event-logo_img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 20px;
}

.shopee-main-event-title__text{
    font-size: 14px;
    font-weight: 400;
}