* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

/* Navbar */
/* display:flex;  nằm ngang */
/* display:inline-flex; nằm cùng một hàng ngang */
/* justify-content: space-between; dùng để cách xa nhau ra trong phần Navbar */
.nav {
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

/* Form layout */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;

}

.form__row {
    padding: 8px 0;
    display: flex;

}

.form__label {
    width: 90px;
}

.form__input {
    flex: 1;
}

/* flex: 1; giúp dài ngang nhau  */

/* Column layout */
.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
    order: 1;
}

.sidebar-two {
    flex: 1;
    order: 2;
}

.main-column {
    flex: 2;
    order: 3;
}

/* order: dùng để thực hiện cái nào trước */

/* Feature layout */
.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

/* justify-content: space-around; giúp chia đều khoảng cách và 50% viền */
/* justify-content: space-around; giúp chia đều khoảng cách */
/* justify-content: space-evenly; giúp chia đều khoảng cách và viền */

/* PC, Tablet */
@media (max-width: 64em) {
    .feature-layout {
        flex-direction: column;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

/* flex-basis: 30%; giúp chia đều bố cục */
.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}

/* Wrap layout */
.wrap-layout {
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* flex-wrap: wrap; giúp co lại sẽ xuống dòng
   flex-wrap: nowrap; khong xuong dong
   flex-wrap: wrap-reverse; co lai sẽ lên trên */

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}

/* Center layout */
.center-layout {
    background-color: rgb(192, 227, 194);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;

}

.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;

}

/* Chart layout */
.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-around;
}

.chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
}

/* align-items: flex-end;
   align-self: flex-end;
    dùng để chuyển đổi start qua end */

/* End */
.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row-reverse;
}

/* flex-direction: row-reverse; đổi vị trí main start và main end */

.the-end__first {
    padding: 4px 16px;
    background-color: #fff;
    flex: 1;
}

.the-end__second {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
}

/* flex-direction: column-reverse; đảo vị trí cross start và cross end */
/* flex-direction: column; dùng để chuyển đổi từ row(hàng) hay column(cột) */

.the-end__second-one {
    padding: 4px 16px;
    background-color: rgb(227, 192, 214);
    flex: 1;
}

.the-end__second-two {
    padding: 4px 16px;
    background-color: rgb(192, 210, 227);
    flex: 1;
}